{:tasks
 {:requires ([babashka.fs :as fs])

  test {:doc "Run ci"
           :task (do (println "Running tests") (clojure "-T:build test"))}

  ci {:doc "Run ci"
           :task (do (println "Running ci") (clojure "-T:build ci"))}

  install {:doc "Install jar"
           :task (do (println "Installing jar") (clojure "-T:build install"))}

  clean {:doc "Clean"
         :task (do (println "Cleaning target") (clojure "-T:build clean"))}

  deploy {:doc "Deploy"
          :task (do (println "Deploying target") (clojure "-T:build deploy"))}

  conjure {:doc "Start nREPL for conjure"
           :task  (clojure "-M:repl/conjure")}

  nrepl {:doc "Start nREPL"
        :task  (clojure "-M:nrepl")}}}
