{:tasks
 {:requires ([babashka.fs :as fs])

  ci {:doc "Run  ci"
      :task (apply clojure "-M:ci" *command-line-args*)}

  install {:doc "Install jar"
           :task (do (println "Installing jar") (clojure "-T:build install"))}

  clean {:doc "Clean"
         :task (do (println "Cleaning target") (clojure "-T:build clean"))}

  deploy {:doc "Deploy"
          :task (do (println "Deploying target") (clojure "-T:build deploy"))}

  conjure {:doc "Start nREPL for conjure"
           :task  (clojure "-M:repl/conjure")}

  repl {:doc "Start nREPL"
        :task  (clojure "-M:nrepl")}}}
